{% extends 'base.html' %}

{% block title %} Abortion Policy API {% endblock %}

{% block js %}   <script src="static/js/index.jsx" type="text/jsx"></script>
{% endblock %}

{% block content %} 
    
<div class="container">
    <h1>Abortion Policy API</h1>

    <p>I'm interested in: </p>

    <p>(check all that apply)</p>


    
    
    
    

<form action="/result">
  <input type="checkbox" name="topic" value="gestational_limits"> Gestational Limits<br>
  <input type="checkbox" name="topic" value="insurance"> Insurance Coverage<br>
  <input type="checkbox" name="topic" value="minors"> Minors<br>
  <input type="checkbox" name="topic" value="waiting_periods"> Waiting Periods<br>
   <span class="small-text">Check All<br /><br /></span>
<p> Location: </p>
<input type="text" name="zip_code" placeholder='select zip code'> </select> or 
  <select type="dropdown" name="state">
    <option value="" disabled selected>Select State</option>
    {% for state_code in us_states %}
          <option value={{state_code}} placeholder='Select state'>{{us_states[state_code]}}</option>
          {% endfor %}
  </select>
  <input type="submit">
</form>
</div>
 <script src="/static/js/index.js"> </script>
<!--  <script>
   console.log("index.html")
 </script>
 -->
{% endblock %}
